<!-- <p>pizza-list works!</p> -->
<!-- <div *ngIf="selectedPizza" class="selectedPizza">
    <app-pizza-list [pizza]="selectedPizza"></app-pizza-list>
</div>     -->


<div class="container-fluid">

        <div class="container" class="pizzaList" class="viewMenu">
                
            <div class="row" *ngFor="let pizza of pizzaList"(click)="onSelection(pizza)" >
                   
                <div class="col-md-4">{{pizza.name}}</div>
                <div class="col-md-4">{{pizza.price | currency:'INR'}}</div>
                <a class="col-md-4" (click)="addToCart(pizza)">ADD TO CART</a>
            </div>
            
        </div>
    </div>
  
    
    