<!--The content below is only a placeholder and can be replaced.-->
<div class="myBody">
<div class ="style" >
   <b> {{ title }}</b>
</div>

<!-- <app-pizza-list></app-pizza-list> -->
<div class = "container">
    <ul class="nav">
   <button class="button button5" routerLink="/pizza/pizza-list" >VIEW MENU</button>
   <button class="button button5" routerLink="/pizza/pizza-delete">DELETE FROM CART</button>
   <button class="button button5" routerLink="/cart">CART</button>
    </ul>
    
  </div>
  <br>
<router-outlet></router-outlet>
</div>